/* BASE STYLES */
:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "Poppins", sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
}

header h1,
header small,
footer small {
    text-align: center;
}

header h1 {
    margin-bottom: 0px;
}

header small,
footer small {
    display: block;
}

footer small {
    margin-bottom: 40px;
}

a {
    color: blue;
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    width: 65%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 10px solid var(--clr-dark);
}

.item {
    width: 150px;
    height: 150px;
    background-color: #fb7185;
    padding: 1em;
    font-weight: 700;
    color: var(--clr-light);
    text-align: center;
    border: 10px solid var(--clr-accent);
    border-radius: 10px;
}
/* END OF BASE STYLES */

.container {
    display: flex;
    /* flex-direction: row;  */
    justify-content: space-evenly;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
    /* gap: 1em; */
}

.item1 {
    align-self: flex-start;
    order: 2;
}

.item2 {
    align-self: center;
    order: 1;
}

.item3 {
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* flex-basis: 0; */
    /* flex: 1; */
    align-self: last baseline;
    order: 0;
}
